<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vkr">
    <!-- For internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- For maps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For pdf -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VKR">
        <activity
            android:name=".personal_cabinet.ui.statement.ViewPdfActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.vkr.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.maps.YandexMapsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAjhKDC0OcdHClyS8rhgRd6vEAF8P20dYg" />

        <activity
            android:name=".activity.maps.GoogleMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activity.admission.AdmissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.support.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.support.SupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash_screen.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.registration.RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personal_cabinet.moreAbout.MoreAboutTheInstitutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personal_cabinet.moreAbout.MoreAboutTheSpecialityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.registration.ExamsResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".personal_cabinet.PersonalCabinetActivity"
            android:exported="false"
            android:label="@string/title_activity_personal_cabinet"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VKR.NoActionBar" />
        <activity
            android:name=".activity.authorization.QuestionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.authorization.AuthorizationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>